# Test directory
test/*.wig
test/*.bed
test/log
test/*_run_*
test/subcommandstest_run_*
test/__pycache__
test/*.prof
test/*.tottime
test/*.calls
test/*.cumulative
test/speedtest*
test/macs2*
temp/
other_test/

# cython files
MACS3/IO/BedGraphIO.c
MACS3/IO/Parser.c
MACS3/IO/PeakIO.c
MACS3/Signal/BedGraph.c
MACS3/Signal/CallPeakUnit.c
MACS3/Signal/FixWidthTrack.c
MACS3/Signal/HMMR_EM.c
MACS3/Signal/HMMR_HMM.c
MACS3/Signal/HMMR_Signal_Processing.c
MACS3/Signal/PairedEndTrack.c
MACS3/Signal/PeakDetect.c
MACS3/Signal/PeakModel.c
MACS3/Signal/Pileup.c
MACS3/Signal/Prob.c
MACS3/Signal/RACollection.c
MACS3/Signal/ReadAlignment.c
MACS3/Signal/Region.c
MACS3/Signal/ScoreTrack.c
MACS3/Signal/Signal.c
MACS3/Signal/SignalProcessing.c
MACS3/Signal/UnitigRACollection.c
MACS3/Signal/VariantStat.c

# MacOSX temp
.DS_Store

# EMACS bk and temp file
*~
\#*\#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pydevproject
.project

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
bld-dir/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
