MANIFEST
build/*
dist/*
*.pyc
.pydevproject
.project
*~
test/*.wig
test/*.bed

test/log
test/test*_run_*
test/subcommandstest_run_*
test/__pycache__

.DS_Store
.cache

test/NOSPMR.ppois.bdg_ppois.bdg
test/*_run_*

MACS2.egg-info

.pytest_cache
.cache