MANIFEST
build/*
dist/*
*.pyc
.pydevproject
.project
*~
test/*.wig
test/*.bed

test/log

test/NA_peaks.encodePeak

test/CTCF_1M.bed.gz

test/NA_model.r

test/NA_peaks.xls

.DS_Store

MACS2/IO/cParser.h

MACS2/IO/numpy.pxd

MACS2/mnumpy.pxd

MACS2/numpy.pxd

test/NOSPMR.ppois.bdg_ppois.bdg

MACS2.egg-info
MACS2/IO/*.c
MACS2/*.c
