name: Build and Test MACS3 website using Sphinx

# This action is to test document building

on: 
  push: 
    paths: 
      - 'docs/**'
      - '.github/workflows/build-and-test-MACS3-website.yml'

  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: 'true'

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"
          
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install sphinx myst-parser sphinx-rtd-theme sphinx-autodoc-typehints
        python3 -m pip install -r requirements.txt
        python3 -m pip install -e .

    - name: Build Sphinx Documentation
      run: |
        cd docs
        make html
        cd ..

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        # Archive and upload entire website
        path: './docs/build/html'

