# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload to PYPI

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out MACS2 with submodules
      uses: actions/checkout@v3 # does macs2 have actions set up ...?
      with:
        submodules: 'true'
    - name: Set up Python
      uses: actions/setup-python@v2 #does macs2 have actions set up ... ?
      with:
        python-version: '3.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # install cython first...
        pip install cython
        if [ -f requirements.txt ]; then pip install --upgrade -r requirements.txt; fi
        # setuptools, wheel and twine are needed to upload to pypi
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist
        twine upload dist/*